{% extends 'users/base.html' %} {% block title %} {{ tag.name }} {% endblock %}
{% block content %}

<h1>{{ tag.name }}</h1>
{% if tag.posts %}
<ul>
  {% for post in tag.posts %}
  <li><a href="/posts/{{post.id}}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No posts associated with tag</p>
<a href="/tags"> <button type="button">Go Back</button></a>
<a href="/tag/{{ tag.id }}/edit"> <button type="button">Edit Tag</button></a>
<form>
  <button formmethod="POST" formaction="/tag/{{ tag.id }}/delete">
    Delete
  </button>
</form>
{% endif %} {% endblock %}
