{% extends 'users/base.html' %} {% block title %} Edit Post {% endblock %} {%
block content %}

<h1>Edit Post for {{ post.user.full_name }}</h1>

<section>
  <form method="POST" action="/posts/{{post.id}}/edit">
    <label for="title">Title</label>
    <label for="Title">Title</label>
    <br />
    <input
      type="text"
      name="title"
      placeholder="{{ post.title }}"
      value="{{ post.title }}"
      required
    />
    <br />
    <label for="content">Content</label>
    <br />
    <textarea
      name="content"
      cols="30"
      rows="4"
      placeholder="{{ post.content }}"
      required
    >
{{ post.content }}</textarea
    >
    <br />
    {% for tag in tags %}
    <input
      type="checkbox"
      name="tags"
      id="tag_{{ tag.id }}"
      {%
      if
      tag
      in
      post.tags
      %}checked{%
      endif
      %}
      value="{{ tag.id }}"
    />
    <label for="tag_{{ tag.id }}">{{ tag.name }}</label>
    {% endfor %}
    <br />
    <a href="/users"><button type="button">Cancel</button></a>
    <button type="submit">Edit</button>
  </form>
</section>
{% endblock %}
