{% extends 'base.html' %}

{% block title %} 
Edit User
{% endblock %}

{% block content %}
<form action="/create user" method="POST">
    <label for="first_name">First Name</label>
    <br>
    <input type="text" name="first_name" value="first_name" placeholder="Enter a first name" required>
    <br>
    <label for="last_name">Last Name</label>
    <br>
    <input type="text" name="last_name" value="last_name" placeholder="Enter a last name" required>
    <br>
    <label for="image">Image URL</label>
    <br>
    <input type="url"  name="image" value="image" placeholder="Provide an image of this user">
    <br>

    <button type="submit" formaction="/users">Cancel</button>

    <button type="submit">Save</button>
</form>
{% endblock %}